.advertisePg {
    .btn-purple {
        margin: 16px 0;
    }

    .form-actions {
        .btn-primary {
            margin: 20px 0 0;
        }
    }    
    
    &-img {
        margin: 16px auto;

        @media (min-width: 600px) {
            max-width: 1200px;
        }
    }
}