.advertisePg {
    .btn-purple {
        margin: 16px 0;
    }

    .form-actions {
        .btn-primary {
            margin: 20px 0 0;
        }
    }    
    
    &-img {
        margin: 16px auto;
        max-width: 1300px;
        border-radius: 6px;
        width: 100%;
    }
}
