.author {
    padding: 200px 16px 16px;

    &-info {
        display: flex;
        flex-flow: row wrap;
        position: relative;
        max-width: 1040px;   
        margin: auto;
        
        @media screen and (min-width: 600px) {
            align-items: end;
            padding-left: 80px;
            padding-right: 80px;
        }

        &--column {
            @media screen and (min-width: 768px) {
                padding: 0 32px;
                flex: 1;
            }
        }
    }

    .profile-photo {
        width: 60px;

        @media screen and (min-width: 768px) {
            width: 120px;
        }
    }

    &-title {
        font-size: 30px;
        margin: 16px 0;
        line-height: 1;
        text-transform: uppercase;

        @media screen and (min-width: 768px) {
            font-size: 38px;
            margin-top: 0;
        }
    }

    &-text {
        font-size: 15px;
        margin-bottom: 24px;
        line-height: 22px;
    }

    &-contact {        
        line-height: 18px;
        color: $pink;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        margin: 16px 0;

        @media screen and (min-width: 768px) {
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        a {
            font-size: 13px;
            letter-spacing: 1px;
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            @media screen and (min-width: 768px) {
                margin-right: 16px;
            }
        }

        .icon {
            font-size: 18px;
            margin-right: 8px;
        }
    }

    .content-title {
        font-size: 1rem;
    }
}
