.contactPg {
    .content-card {
        .wpcf7-mail-sent-ok {
            border: 2px solid #398f14;
            color: #fff;
            background: #398f14;
            margin: 8px 24px 24px;
            padding: 12px;
            border-radius: 4px;
        }
    }
}
