.newsPg {
    &.container-card {
        max-width: 1230px;
        margin-bottom: 24px;
    }

    .card-label,
    .card-title,
    .card-time {
        text-align: left;
        padding: 0;
    }

    .card-time::before {
        left: 0;
    }

    .card-label {
        display: inline-flex;
        transform: inherit;
        margin: 12px 0 8px;
        position: relative;

        .card-label__text {
            margin-right: 6px;
        }
    }

    @media screen and (min-width: $screen-tablet-min) {
        .card {
            width: auto;
            max-width: inherit;

            img {
                margin: 0;
            }
        }

        .card-info {
            display: flex;
            flex-direction: column;
        }

        .list-1,
        .list-2,
        .js-noticesCol {
            width: 50% !important;
            padding: 0 20px;
            margin-bottom: 0;

            @media screen and (min-width: $screen-desktop-min) {
                width: 33.3% !important;
            }
        }
    }

    .js-noticesCol {
        margin-top: 24px;
        width: 100%;
        max-width: $limitWidthMobile;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media screen and (min-width: $screen-desktop-min) {
            margin: 0;
        }

        &::before {
            @media screen and (min-width: $screen-desktop-min) {
                content: "";
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                margin: auto;
                height: 2px;
                width: 100%;
                display: block;
                background-color: #dedede;
                max-width: calc(#{$limitWidthMobile} - 40px);
            }
        }

        .card-noticesSmall {
            margin: 0;
            width: 100%;
            padding: 24px 0;
            border-top: 1px solid #dedede;

            @media screen and (min-width: $screen-desktop-min) {
                border: none;
                padding: 0;
            }

            .card-label {
                margin-top: 0;
            }

            .card-title {
                font-size: 14px;
                min-height: 46px;
            }
        }
    }
}
