.singlePg {
    &-container {
        max-width: 790px;
        margin: auto;
    }

    .navbar-logo-logo {
        display: none !important;
    }

    .navbar-logo-icon {
        display: inline-block;
    }

    .tags {
        padding: 0 $paddingSides 8px;
        margin-top: 4px;

        &.singleTagsHeader {
            padding: 50px 32px 10px;
            margin: 0 auto;

            @media screen and (min-width: 767px) {
                padding: 74px $paddingSides 2px;
            }
        }

        .tag {
            margin-right: 8px;

            + .tag {
                margin-bottom: 8px;
            }
        }
    }

    &-title {
        font-size: 30px;
        line-height: 40px;
        margin-bottom: 22px;
        padding: 0 32px;
        color: #000;

        @media screen and (min-width: 767px) {
            font-size: 46px;
            line-height: 56px;
        }
    }

    &-date {
        line-height: 1;

        @media screen and (min-width: 480px) {
            display: flex;
            align-items: baseline;
        }
    }

    .author-names {
        color: $pink;
        display: inline-flex;

        @media screen and (min-width: 600px) {
            padding-bottom: 4px;
        }
    }

    &-imgFeatured {
        margin: 0 auto 24px;
        display: block;

        @media screen and (min-width: 767px) {
            margin: 0 auto 76px;
        }
    }

    .author-picture {
        display: inline-flex;
    }

    .postpage-body--text {
        font-family: $fontSerifPost;

        @media screen and (min-width: 768px) {
            padding: 0 32px;
        }

        p {
            max-width: 790px;
            margin: 0 auto 32px;
            padding: 0 $paddingSides;
            font-size: 18px;
            line-height: 26px;

            @media screen and (min-width: 768px) {
                font-size: 20px;
                line-height: 32px;
            }
        }

        > * {
            max-width: 790px;
            margin: 0 auto 32px;
            padding: 0 32px;
        }

        iframe {
            width: 100%;
        }

        .wp-block-quote {
            font-family: $fontSerif;
            text-align: left;
            margin: 32px auto;
            font-size: 24px;
            line-height: 36px;
            padding: 0 50px;

            p {
                font-size: 24px;
                line-height: 36px;
            }
        }

        a {
            text-decoration: underline;
            color: $pink;
        }

        img {
            display: block;
            margin: $paddingSides auto;
        }
    }

    .wp-caption {
        display: block;
        margin: auto;
    }

    &-disqus {
        &-btnComments {
            font-size: 10px;
            font-weight: 900;
            letter-spacing: 1px;
            height: 56px;
            justify-content: end;
            margin: auto auto 90px;

            @media screen and (min-width: 767px) {
                font-size: 12px;
            }
        }

        &-container {
            display: none;
        }

        &.is-active {
            .singlePg-disqus-container {
                display: block;
                margin-bottom: 32px;
            }

            .singlePg-disqus-btnComments {
                background-color: rgba($pink, 0.8);

                .icon {
                    transform: rotate(180deg);
                }
            }
        }
    }

    .wp-block-image {
        figcaption {
            font-size: 14px;
            font-family: $fontSerif;
            margin: 38px 0 46px;
        }
    }
}

.containerInfoHeader {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: 767px) {
        .author-name {
            margin: 0;
        }
    }
}
