.singlePg {
    .navbar-logo-logo {
        display: none !important;
    } 

    .navbar-logo-icon {
        display: inline-block;
    }

    .tags {
        padding: $paddingSides $paddingSides 16px;
    }

    &-date {
        @media screen and (min-width: 767px) {
            display: flex;
            align-items: baseline;
        }
    }

    &-imgFeatured {
        margin: 0 auto 24px;
        display: block;
    }

    &-container {
        max-width: 790px;
        margin: auto;
    }

    .postpage-body--text {
        @media screen and (min-width: 768px) {
            padding: 0 32px;
        }


        p {
            max-width: 790px;
            margin: 0 auto 32px;
            padding: 0 $paddingSides;

            @media screen and (min-width: 768px) {
                font-size: 16px;
                line-height: 26px;
            }
        }

        .wp-block-quote {
            font-size: 1.5rem;
            text-align: center;
            margin: 32px auto;
        }

        a {
            text-decoration: underline;
            color: $pink;
        }

        img {
            display: block;
            margin: $paddingSides auto;
        }
    }

    &-btnComments {
        font-size: 10px;
        font-weight: 900;
        letter-spacing: 1px;
        height: 56px;
        justify-content: end;
        max-width: calc(790px - #{$paddingSides * 2});
        margin: auto auto 32px;

        @media screen and (min-width: 767px) {
            font-size: 12px;
        }
    }

    .wp-caption {
        display: block;
        margin: auto;
    }
}