.singlePg {
    .navbar-logo-logo {
        display: none !important;
    }

    .navbar-logo-icon {
        display: inline-block;
    }

    .tags {
        padding: 0 $paddingSides 8px;
        margin-top: 4px;
    }

    &-date {
        @media screen and (min-width: 767px) {
            display: flex;
            align-items: baseline;
        }
    }

    .author-names {
        color: $pink;
    }

    &-imgFeatured {
        margin: 0 auto 24px;
        display: block;
    }

    &-container {
        max-width: 790px;
        margin: auto;
    }

    .postpage-body--text {
        font-family: $fontSerifPost;

        @media screen and (min-width: 768px) {
            padding: 0 32px;
        }
        
        p {
            max-width: 790px;
            margin: 0 auto 32px;
            padding: 0 $paddingSides;
            font-size: 16px;
            line-height: 24px;

            @media screen and (min-width: 768px) {
                font-size: 20px;
                line-height: 32px;
            }
        }

        .wp-block-quote {
            font-family: $fontSerif;
            font-size: 1.5rem;
            text-align: center;
            margin: 32px auto;
        }

        a {
            text-decoration: underline;
            color: $pink;
        }

        img {
            display: block;
            margin: $paddingSides auto;
        }
    }

    .wp-caption {
        display: block;
        margin: auto;
    }

    &-disqus {
        &-btnComments {
            font-size: 10px;
            font-weight: 900;
            letter-spacing: 1px;
            height: 56px;
            justify-content: end;
            margin: auto auto 90px;

            @media screen and (min-width: 767px) {
                font-size: 12px;
            }
        }

        &-container {
            display: none;
        }

        &.is-active {
            .singlePg-disqus-container {
                display: block;
                margin-bottom: 32px;
            }

            .singlePg-disqus-btnComments {
                background-color: rgba($pink, .8);

                .icon {
                    transform: rotate(180deg);
                }
            }
        }
    }
}
