@import "helpers/var-media-queries";
@import "helpers/properties";
@import "settings/settings";

@import "tools/tools";

@import "generic/generic";

@import "base/base";

@import "objects/btn";
@import "objects/form";
@import "objects/img-thumbnail";
@import "objects/profile-photo";

@import "components/slider";
@import "components/article";
@import "components/card";
@import "components/cobertura";
@import "components/content";
@import "components/footer";
@import "components/navbar";
@import "components/new";
@import "components/newsletter";
@import "components/post-header";
@import "components/reader-bar";
@import "components/tag";
@import "components/socialShared";
@import "components/alm-btn-wrap";

@import "pages/author";
@import "pages/post";
@import "pages/search";
@import "pages/advertisePg";
@import "pages/404";
@import "pages/contact";
@import "pages/coberturas";
@import "pages/noticias";
@import "pages/single";
@import "pages/reportagensPg";
@import "pages/tags";

@import "trumps/trumps";

.is-tablet {
    display: none !important;

    @media (min-width: 600px) {
        display: block !important;
    }
}

.is-mobile {
    @media (min-width: 599px) {
        display: none !important;
    }
}


.homePg {
    .content-title {
        margin: 36px 0;
    }
}