//Em geral, são as variáveis globais que vão definir cores, 
//espaçamentos e outras configurações desejadas para o funcionamento do seu framework em si. 
$azul-escuro : #262B43;
$azul-claro : #5681BF;
$branco : #D0D3D9;
$cinza-claro : #505050;

$pink: #be3248;
$separatorLine: #9e9e9e;
$white: #f3f3f3;
$black: #424242;
$navyBlue: #393382;
$lightGray: #eeeeee;
$gray: #9e9e9e;

$fontSerif: 'Noto Serif', serif;
$fontRegular: 'Noto Sans', sans-serif;
