.form {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 0 32px;

    .form-group {
        display: flex;
        flex-flow: column wrap;
        margin: 16px 0;
        width: 100%;

        &.w45 {
            @media screen and (min-width: 768px) {
                width: 45%;
            }
        }

        &--label {
            font-size: 10px;
            color: $gray;
            margin-bottom: 8px;
            text-transform: uppercase
        }

        &--input {
            font-family: $fontSerif;
            font-size: 16px;
            border: 1px solid #424242;
            height: 50px;
            border-radius: 4px;
            padding: 16px;
            transition: border-color .2s ease-in-out;

            &:focus {
                border-color: $navyBlue;
                outline: 0;
            }
        }

        textarea {
            height: auto;
            width: 100%;
        }

    }

    .form-actions {
        align-items: center;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        position: relative;
        width: 100%;
        
        @media screen and (min-width: 768px) {
            flex-flow: row wrap;
            justify-content: flex-start;
        }

        .btn {
            margin: 0 0 24px 0;
            @media screen and (min-width: 768px) {
                margin: 16px 24px 0 0;
            }
        }
    }
}
