// estilos para os headings h1-h6, blockquotes, a, buttons, etc

main {
    position: relative;
    padding-top: 50px;
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

button,
input {
    background: none;
    border: none;

    &:focus,
    &:active {
        outline: 0;
    }
}
