main {
    position: relative;
    padding-top: 50px;
    min-height: calc(100vh - 316px);
}

img {
    height: auto;
    max-width: 100%;
}

ul {
    list-style: none;
}

button,
input {
    background: none;
    border: none;
    font-family: $fontSerif;

    &:focus,
    &:active {
        outline: 0;
    }
}

button {
    cursor: pointer;
}