.alm-btn-wrap {
	text-align: center;
	margin-bottom: 12px;

    .alm-load-more-btn.more {
        width: 200px;
        display: inline-block;
        position: relative;

        &.loading {
            background-image: url(../img/loading.svg);
            background-repeat: no-repeat;
            background-position: center left;
            background-size: 40px;
        }

        &.done {
            text-indent: -9999px;

            &::after {
                content: "teste";
                position: absolute;
                text-indent: 0;
                left: 0;
                right: 0;
            }
        }

        &:disabled {
            background-color: rgba($pink, 0.8);
            cursor: not-allowed;
        }
    }
}
