.articles {
    @media screen and (min-width: 1024px) {
        display: flex!important;
        flex-flow: row wrap!important;
    }
}

.article {
    display: block;
    padding: 0 0 16px;
    
    @media screen and (min-width: 1024px) {
        display: flex;
        flex-flow: row-reverse wrap;
        padding: 0;
        width: 50%;
    }

    &-picture {
        width: 100%;

        @media screen and (min-width: 1024px) {
            height: 350px;
            width: 50%;
        }
    }

    &-body {
        padding: 16px 16px 0;

        @media screen and (min-width: 1024px) {
            display: flex;
            flex-flow: column wrap;
            justify-content: space-around;
            padding: 16px;
            width: 50%;
        }

        &__title {
            font-size: 10px;
            letter-spacing: 1px;
            color: $white;
            margin-bottom: 16px;

            &::after {
                border-bottom: 1px solid $separatorLine;
                content: "";
                display: block;
                position: relative;
                top: 8px;
                width: 24px;
            }
        }

        &__subtitle {
            font-size: 18px;
            line-height: 22px;
            color: $white;
            margin-bottom: 24px;

            @media screen and (min-width: 1024px) {
                font-size: 24px;
                line-height: 28px;
            }
        }

        &__text {
            font-size: 10px;
            line-height: 16px;
            color: $white;
            margin-bottom: 16px;

            @media screen and (min-width: 1024px) {
                font-size: 14px;
                line-height: 20px;
            }
        }

        &__author {
            font-size: 9px;
            color: $white;
            text-transform: uppercase
        }
    }

    
}
