.cards {
    @media screen and (min-width: 768px) {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
    }
}
.card {
    margin: 0 0 36px;
    @media screen and (min-width: 768px) {
        margin: 0 16px 36px;
        width: calc(45% - 16px);
    }
    @media screen and (min-width: 1024px) {
        width: calc(25% - 36px);
    }

    &-picture {
        width: 100%;
    }

    img {
        display: block;
        margin: auto;
    }

    &-label {
        display: block;
        text-align: center;
        transform: translateY(-16px);
        position: relative;
        margin-bottom: 0;

        &__text {
            font-size: 10px;
            font-weight: bold;
            letter-spacing: 2px;
            background-color: $navyBlue;
            color: #fff;
            text-transform: uppercase;
            padding: 4px 16px;
            margin: 0 4px;

            &.white {
                background-color: #fff;
                border: 1px solid $navyBlue;
                color: $navyBlue;
            }
        }
    }

    &-title {
        font-size: 1rem;
        font-weight: bold;
        text-align: center;
        color: #333;
        padding: 0 6px;
    }

    &-text {
        font-size: 16px;
        line-height: 20px;
        font-weight: bold;
        color: #333;
        text-align: center;

        &:hover {
            color: $pink;
            text-decoration: underline;
        }
    }

    &-time {
        color: $gray;
        font-size: 0.75rem;
        margin-top: 16px;
        text-align: center;
        display: block;

        &::before {
            bottom: 8px;
            border-top: 1px solid $gray;
            content: "";
            display: block;
            left: calc(50% - 12px);
            position: relative;
            width: 24px;
        }
    }
}
