.search-bar {
    background-color: $pink;
    height: 50px;
    display: none;

    top: 0;
    text-align: center;
    width: 100%;
    position: fixed;
    z-index: 999;
    animation: slideIn .3s linear;

    &-is-active {
        transform: translateY(0);
        display: flex;
    }

    .searchbar {
        width: 100%;
        height: 100%;

        &-input {
            font-size: 16px;
            background-color: $pink;
            color: #fff;
            padding: 0 16px;
            width: 100%;
            height: 100%;

            &::placeholder {
                color: #fff;
            }

            @media screen and (min-width: $screen-monitor-min) {
                font-size: 20px;
            }
        }
    }

    @keyframes slideIn {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
}

.navbar {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    height: 50px;
    position: fixed;
    width: 100%;
    border-bottom: 1px solid #eee;
    z-index: $z-indexHeader;

    &.is-active {
        .navbar-logo {
            .navbar-logo-logo {
                display: none;
            } 

            .navbar-logo-icon {
                display: inline-block;
            }
        }
    }

    &-lg {
        @media screen and (min-width: $screen-monitor-min) {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
            width: 45%;
        }
    }

    &-btn {
        align-items: center;
        cursor: pointer;
        font-size: 18px;
        padding: 0 16px;
        display: inline-flex;
        height: 50px;

        &.is-active {
            background-color: #333;
            .icon {
                fill: $white;
            }
        }

        &.is-active-search {
            background-color: $pink;
            .icon {
                fill: $white;
            }
        }
    }

    &-icon {
        height: 26px;
        width: 26px;
    }

    &-logo {
        text-align: center;
        left: 0;
        margin: auto;
        right: 0;
        position: absolute;
        transition: cubic-bezier(0.215, 0.610, 0.355, 1) width 0.3s;
        top: 0;
        width: 100px;

        &-icon {
            display: none;
        }

        &.is-active {
            .navbar-logo-logo {
                display: none;
            } 

            .navbar-logo-icon {
                display: inline-block;
            }
        }

        .navbar-logo-icon {
            margin: 4px 0;
        }
    }
    
    &-links {
        padding: 86px 0 0;
        @media screen and (min-width: $screen-monitor-min) {
            padding: 0;
        }
    }

    &-links-lg {
        display: none;
        
        @media screen and (min-width: $screen-monitor-min) {
            display: flex;
            justify-content: space-around;
            width: 80%;
            
            a {
                color: $black;
                font-weight: bold;
                font-size: 12px;
                letter-spacing: 1px;
            }
        }
    }

    &-menu {
        position: fixed;
        background-color: #333;
        left: 0;
        width: 100%;
        height: 100%;
        top: 0;
        text-align: center;
        transform: translateX(-100%);
        transition: transform .2s ease;
        will-change: transform;
        z-index: 9;

        &-is-active {
            transform: translateX(0);
        }

        &-logo {
            max-width: 70px;
            margin: 52px 0 8px;
        }

        &-btnToggle {
            position: absolute;
            left: 0;
            color: #fff;
        }

        &-social {
            font-size: 20px;
            display: inline-flex;
            border-radius: 50%;
            color: #333;
            background: #fff;
            height: 40px;
            width: 40px;
            align-items: center;
            justify-content: center;
            margin: 14px 4px;
        }

        &-item {
            font-size: 14px;
            letter-spacing: 1px;
            color: #fff;
            text-decoration: none;
            padding: 8px 0;
            display: block;
            transition: all ease 0.5s;
            text-transform: uppercase;

            @media screen and (min-width: $screen-monitor-min) {
                display: inline;
            }

            &:hover,
            &:active {
                color: $pink;
                text-decoration: underline;
            }

            &-gray {
                color: #808080;
            }
        }
    }

    &-menu-lg {
        align-self: center;
        background-color: #333;
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        height: 50px;
        position: fixed;
        left: 0;
        text-align: center;
        top: 50px;
        transform: translateX(-120vw);
        transition: transform .2s ease;
        width: 100%;
        will-change: transform;
        z-index: 9;

        &-is-active {
            transform: translateX(0);

        }

        .menu-lg--links {
            align-items: center;
            display: flex;
            flex-flow: row wrap;
            padding: 0 16px;

            .navbar-menu-item {
                font-size: 10px;
                letter-spacing: 1px;
                color: #808080;
                margin: 0 24px;

                &:hover {
                    color: #fff;
                    text-decoration: underline;
                }
            }

            .navbar-menu-social {
                font-size: 20px;
                display: inline-flex;
                border-radius: 50%;
                color: #333;
                background: #fff;
                height: 30px;
                width: 30px;
                align-items: center;
                justify-content: center;
                margin: 4px 4px;
            }
        }
    }
}