.newsletter {
    background: url('./../img/newsletter-bg-mobile.png') no-repeat center center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 48px 32px;
    text-align: center;

    
    @media (min-width: 1024px) {
        background-image: url('./../img/newsletter-bg.png');
    }

    &-title {
        font-weight: normal;
        font-size: 1.4rem;
    }

    &-text {
        font-size: 12px;
        text-transform: uppercase;
        max-width: 240px;
        margin: 4px auto 24px;
    }

    .btn {
        width: 120px;
        margin: auto;
    }
}
