.newsletter {
    background-image: url('./../img/newsletter-bg.png');
    color: $white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 32px;
    text-align: center;

    &-title {

    }

    &-text {
        margin-bottom: 24px;
    }

}
