.newsletter {
    background: url('./../img/newsletter-bg-mobile.jpg') no-repeat center center;
    background-size: cover;
    color: $white;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    padding: 46px 32px;
    text-align: center;

    
    @media (min-width: 1024px) {
        background-image: url('./../img/newsletter-bg.jpg');
    }

    &-title {    
        font-size: 24px;
        font-weight: normal;

        @media screen and (min-width: 768px) {
            font-size: 34px;
        }
    }

    &-text {
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 1px;
        text-transform: uppercase;
        max-width: 240px;
        margin: 4px auto 24px;

        @media screen and (min-width: 768px) {
            font-size: 12px;
            max-width: 280px;
        }
    }

    .btn {
        width: 120px;
        margin: auto;
    }
}

