.post-header {
    font-weight: bold;

    &-container {
        text-align: center;
        max-width: $container + 36;
        width: 100%;

        @media screen and (min-width: 600px) {
            text-align: left;
            margin: 0 auto;
            padding: 0 30px;
        }
    }

    img {
        display: block;
        margin: auto;
    }

    @media screen and (min-width: 1024px) {
        margin: 0 64px;
    }

    &.full {
        @media screen and (min-width: 1024px) {
            margin: 0;
        }
    }

    &.bg-img {
        align-items: flex-end;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-flow: row wrap;
        justify-content: flex-start;
        height: 230px;
        background-color: #333;

        @media screen and (min-width: 768px) {
            height: 350px;
        }
    }
    
    &.bg-cobertura {
        background-image: url('./../img/cobertura-mobile-header.jpg');

        @media screen and (min-width: 768px) {
            background-image: url('./../img/cobertura-header.jpg');
        }
    }

    &.bg-quemsomos {
        background-image: url('./../img/quem-somos-mobile-bg.png');

        @media screen and (min-width: 768px) {
            background-image: url('./../img/quem-somos-bg.png');
        }
    }

    &.bg-entrevistas {
        background-image: url('./../img/entrevistas-mobile-bg.png');

        @media screen and (min-width: 768px) {
            background-image: url('./../img/entrevistas-bg.png');
        }
    }

    &.bg-contato {
        background-image: url('./../img/contato-mobile-bg.jpg');

        @media screen and (min-width: 768px) {
            background-image: url('./../img/contato-bg.jpg');
        }
    }

    &.bg-anuncie {
        background-image: url('./../img/anuncie-mobile-bg.jpg');

        @media screen and (min-width: 768px) {
            background-image: url('./../img/anuncie-bg.jpg');
        }
    }

    &--title {
        font-size: 18px;
        letter-spacing: 1px;
        text-transform: uppercase;
        border: 2px solid #fff;
        color: #fff;
        padding: 2px 12px;
        margin: 24px auto;
        display: inline-block;

        @media screen and (min-width: 600px) {
            font-size: 26px;
            letter-spacing: 2px;
            margin: 62px 0;
        }
    }

    &--picture {
        width: 100%;

        @media screen and (min-width: 768px) {
            height: 400px;
            width: 100%;
        }
    }
}

.header-banner {
    background-color: #eeeeee;
    color: $gray;
    font-size: 11px;
    padding: 4px 0;
    text-align: center;
}
