.progress {
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: $z-indexHeader - 1;

    height: $headerHeight;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
    transform: translateY(-100%);
    transition: transform 0.2s ease;

    &-bar {
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        background-color: $pink;
        transition: width 0.2s ease;
        display: block;
    }

    &.is-active {
        transform: translateY(0);
    }

    &-container {
        position: relative;
        display: flex;
        align-items: center;
        background-color: #fff;
        border-bottom: 1px solid #eee;
        z-index: $z-indexHeader - 1;
    }

    &-title {
        font-size: 12px;
        padding: 4px 0;
        flex: 1;
        overflow: hidden;
        position: relative;
        line-height: 1.2em;
        max-height: 32px;
        margin-right: -1em;
        padding-right: 1em;

        @media (min-width: 1024px) {
            font-size: 16px;
            max-height: inherit;
        }

        @media (max-width: 1023px) {
            &:before {
                content: "...";
                position: absolute;
                right: 0;
                bottom: 0;
            }

            &:after {
                content: "";
                position: absolute;
                right: 0;
                width: 1em;
                height: 1em;
                margin-top: 0.2em;
                background: white;
            }
        }
    }

    &-logo {
        width: 40px;
        margin: 12px 12px 0;
    }

    &-btnOptions {
        color: $pink;
        font-size: 20px;
        width: 44px;
        display: inline-block;
        height: 50px;
        margin-left: 8px;
        text-align: center;

        @media (min-width: $screen-desktop-min) {
            display: none;
        }
    }

    &-socialShared {
        display: none;

        @media (max-width: $screen-desktop-max) {
            position: fixed;
            top: 0;
            left: 0;
            right: 0;
            transition: transform 0.2s ease;

            display: flex;
            justify-content: center;
            align-items: center;
            height: $headerHeight;
            font-size: 12px;
            line-height: 14px;
            background-color: $lightGray;
            transform: translateY(-100%);
            z-index: 1;

            &.is-active {
                transform: translateY($headerHeight);
            }
        }

        &-item {
            font-size: 14px;
            color: #999;
            display: inline-flex;
            align-items: center;
            margin: 0 4px;

            .icon {
                font-size: 16px;

                @media (min-width: $screen-desktop-min) {
                    font-size: 20px;
                }
            }

            &-text {
                font-weight: normal;
                letter-spacing: 1px;
            }

            .icon {
                margin-right: 8px;
            }
        }
    }

    
    
    .socialShared-list-desktop {
        display: none;

        @media (min-width: $screen-desktop-min) {
            display: flex;
            position: relative;
            padding-right: 16px;
            z-index: 1;

            .socialShared {
                max-width: inherit;

                .socialShared-item-circle{
                    font-size: 16px;
                    width: 30px;
                    height: 30px;
                }
            }
        }
    }
}
