.progress {
    position: fixed;
    top: 0;
    left: 0;
    will-change: transform;
    z-index: 6;
    background-color: #fff;

    height: 52px;
    font-size: 12px;
    line-height: 14px;
    font-weight: bold;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-100%);
    transition: transform .2s ease;

    &-bar {
        width: 0;
        height: 2px;
        position: absolute;
        bottom: 0;
        background-color: $pink;
        transition: width .2s ease;
        display: block;
    }

    &.is-active {
        transform: translateY(0);
    }

    &-title {
        padding: 4px 0;
        flex: 1;
    }

    &-logo {
        width: 40px;
        margin: 12px 12px 0;
    }

    &-btnOptions {
        color: $pink;
        font-size: 20px;
        width: 40px;
        display: inline-block;
        height: 50px;
        margin-left: 8px;
    }
}